// compile
@font-face {
  font-family: 'heavy_heapregular';
  src: url('heavy_heap-webfont.woff2') format("woff2"), url('heavy_heap-webfont.woff') format("woff");
  font-weight: normal;
  font-style: normal;
}
$smartphones: 'screen and (max-width: 768px)';
@mixin full-height {
  height: 100vh;
  height: -webkit-fill-available;
  width: 100%;
}
@mixin flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background: #dcd2c4 url('../assets/bg.gif') center center fixed no-repeat;
  background-size: cover;
  width: 100%;
  font-family: 'heavy_heapregular', sans-serif;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: #000000;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  margin-bottom: 5%;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #000000;
  text-decoration: none;
  font-size: 40px;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #000000;
  margin: 5px;
  transition: all 0.3s ease;
}
@media screen and (max-width: 768px) {
  nav {
    display: none;
  }
}

.nav-active {
  transform: translateX(0%);
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.header-container {
  text-align: center;

  & a {
    margin: 30px 0;
    @include flex-center();
  }
}

header img {
  display: inline-block;
}

.wrapper {
  text-align: center;
  animation: fade 2s;
}

.gallery img {
  display: inline-block;
  width: 800px;
  padding: 10px 20px;
}

footer {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

footer ul li {
  display: inline-block;
  font-size: 30px;
  padding: 0 20px;
}

.iframe-container {
  width: 80%;
  height: 47.54716984vw;
  max-width: 1000px;
  max-height: 625px;
  animation: fade 2s;
  @include flex-center;
}

.iframe-container iframe {
  width: 100%;
  height: 100%;
}

.folder-content img {
  display: none;
}
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  background-color: #dcd2c4;
}
/* Track */
::-webkit-scrollbar-track {
  background: #dcd2c4;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff;
  width: 15px;
}

.home-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  .gallery img {
    width: 650px;
  }

  .iframe-container {
    animation: fade 2s;
    width: 80%;
    height: 61.7314488vw;
    background: url('../assets/video-folder.png') center center no-repeat;
    background-size: contain;
    margin: 20px 0;
  }

  .iframe-container iframe {
    width: 80%;
    height: 70%;
    max-height: 486px;
  }

  ::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: transparent;
    width: 0;
  }

  header img {
    width: 300px;
  }

  .gallery img {
    padding-bottom: 20%;
    width: 310px;
  }

  footer {
    margin-top: 15%;
    margin-bottom: 20%;
  }

  .folder-container {
    width: 80%;
    animation: fade 2s;
    @include flex-center();
  }

  .folder-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    & a {
      width: 100%;
    }

    & img {
      display: inherit;
      width: 100%;
      margin: 20px 0;
    }
  }
}
@import "shop";
@import "cart";